* {
    box-sizing: border-box;
}
:root {
    --main-header-color: rgb(94, 129, 209);
    --main-section-orange-strong: rgb(248, 117, 0);
    --main-section-orange-light: rgb(255, 141, 39);
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    height: 100vh;
}

.header-box {
    background-color: var(--main-header-color);
    display: flex;
}
.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
    width: 38%;
}

.title-box__title {
    padding: 5px;
}

.links-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-box__link {
    padding: 3px;
}
.counter-box {
    background-color: var(--main-section-orange-strong);
    display: flex;
    justify-content: space-between;
}
.counter-box__icon-box {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.counter-box__counter {
    padding: 10px;
}
a {
    color: black;
}
a:visited {
    color: black;
}
