* {
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
.header-box {
    background-color: blue;
    display: flex;
}
.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.4rem;
    width: 38%;
}

.title-box__title {
    padding: 5px;
}
.navigation-box {
}
.links-box {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links-box__link {
    padding: 3px;
}
